.h2{
    color:white;
background-color:blue;
background: red;
}
h3 {
    color:green;
}
*{
    font-family: Helvetica, sans-serif;

}
.div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:lightgray;
    padding: 10px;
    border-radius: 5px;
}